    <!-- Hero Section-->
    <section class="hero py-5 py-lg-7">
      <div class="container position-relative">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb ps-0  justify-content-center">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Terms &amp; Conditions                         </li>
        </ol>
        <h1 class="hero-heading mb-0">Terms &amp; Conditions</h1>
      </div>
    </section>
    <section class="py-6">
      <div class="container">
        <div class="row">   
          <div class="col-xl-8 col-lg-10 mx-auto">
            <div class="text-content">

            </div>
          </div>
        </div>
      </div>
    </section>
